/*main style tags*/
body {
    font-family: Montserrat;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

footer {
    padding: 2%;
}

section {
    padding: 7% 15%;
}

/*main page alternates beetween this 2 styles*/
.red-section {
    text-align: center;
    background: #ff4c68;
    color: white;
}

.white-section {
    text-align: center;
    background: white;
    color: black;
}


/*navbar*/
.navbar {
    background: #ff4c68;
    padding: 3% 15%;
    padding-bottom: 4.5rem
}

.navbar-brand {
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: 600;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/*title*/
#title {
    text-align: left;
}

.download-btn {
    margin: 5% 3% 5% 0%;

}

.main-image {
    width: 20%;
    transform: rotate(22.5deg);
    right: 20%;
    position: absolute;
}

@media (max-width: 991px) {
    #title {
        text-align: center;
    }
    .main-image {
        width: 70%;
        right: 25%;
        transform: rotate(0);
        position: static;
    }
}

/*features*/
#features {
    position: relative;
}

.feature-col-padding {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/*testimonials*/
#testimonials {
    padding: 7% 0%;
}

.testimonial-img {
    width:  10%;
    border-radius: 100%;
}

.carousel-item {
    padding-left: 15%;
    padding-right: 15%;
}

/*press*/
#press {
    padding-top: 0%;
    padding-bottom: 3%;
}
.press-img {
    width: 15%;
    margin: 20px 20px 15px;
}

/*call to action*/

/*contacts (footer)*/